<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="trainingfurqan" translate="label" sortOrder="10">
            <label>Customer Restrict IP</label>
        </tab>
        <section id="customerip" translate="label" sortOrder="10" showInDefault="1" showInStore="1">
            <class>separator-top</class>
            <label>Restricted IP</label>
            <tab>trainingfurqan</tab>
            <resource>TrainingFurqan_CustomerIP::customerip_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Restricted IP Address Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="restricted_ip_address" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter Restricted Customer IP Address</label>
                    <comment>This Enter IP Address will not allow for login.</comment>
                </field>
            </group>
        </section>
    </system>
</config>