<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TrainingFurqan\Bike\Api\Data\BikeInterface" type="TrainingFurqan\Bike\Model\Bike" />

    <virtualType name="TrainingFurqan\Bike\Model\ResourceModel\Bike\Bike\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bike_data</argument>
            <argument name="resourceModel" xsi:type="string">TrainingFurqan\Bike\Model\ResourceModel\Bike</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bike_record_bike_list_data_source" xsi:type="string">TrainingFurqan\Bike\Model\ResourceModel\Bike\Bike\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">bike_image</argument>
            <argument name="basePath" xsi:type="string">bike_image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="TrainingFurqan\Bike\Controller\Adminhtml\Bike\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
        </arguments>
    </type>
</config>