<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Pricing\PriceCurrencyInterface">
        <plugin name="practice_price_decimal_price_currency" type="Practice\PriceDecimal\Plugin\Framework\Pricing\PriceCurrency" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Framework\Locale\FormatInterface">
        <plugin name="practice_price_decimal_local_format" type="Practice\PriceDecimal\Plugin\Framework\Pricing\Local\Format" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="practice_price_decimal_for_orders" type="Practice\PriceDecimal\Plugin\Sales\Model\Order" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Framework\CurrencyInterface">
        <plugin name="practice_price_decimal_for_currency" type="Practice\PriceDecimal\Plugin\Framework\Pricing\Currency" sortOrder="10" disabled="false"/>
    </type>
</config>