<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="practice_sales_order" frontName="practice_sales_order">
            <module name="Practice_SalesOrder" />
        </route>
    </router>
</config>