<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

     <preference for="Magento\Catalog\Api\ProductRepositoryInterface" 
     type="SimplifiedMagento\FirstModule\Model\CustomImplementation" />

    <preference for="SimplifiedMagento\FirstModule\Api\PencilInterface"
                type="SimplifiedMagento\FirstModule\Model\Pencil"/>
    <preference for="SimplifiedMagento\FirstModule\Api\Color"
                type="SimplifiedMagento\FirstModule\Model\Red"/>
    <preference for="SimplifiedMagento\FirstModule\Api\Size"
                type="SimplifiedMagento\FirstModule\Model\Large"/>

    <preference for="SimplifiedMagento\FirstModule\Api\Brightness"
                type="SimplifiedMagento\FirstModule\Model\Medium"/>

    <type name="SimplifiedMagento\FirstModule\Controller\Page\HelloWorld">
        <plugin name="plugin_on_execute"
                type="SimplifiedMagento\FirstModule\Plugin\PluginSolution" sortOrder="10" />
    </type>
    <type name="SimplifiedMagento\FirstModule\Controller\Page\HelloWorld">
        <plugin name="plugin_on_execute2"
                type="SimplifiedMagento\FirstModule\Plugin\PluginSolution2" sortOrder="20" />
    </type>
    <type name="SimplifiedMagento\FirstModule\Controller\Page\HelloWorld">
        <plugin name="plugin_on_execute3"
                type="SimplifiedMagento\FirstModule\Plugin\PluginSolution3" sortOrder="30" />
    </type>
    <virtualType name="virtualType"  type="SimplifiedMagento\FirstModule\Model\Yellow">
        <arguments>
            <argument name="brightness" xsi:type="object">SimplifiedMagento\FirstModule\Model\HIgh</argument>
        </arguments>
    </virtualType>

    <type name="SimplifiedMagento\FirstModule\Model\Pencil">
        <arguments>
            <argument name="color" xsi:type="object">virtualType</argument>
            <argument name="size" xsi:type="object">SimplifiedMagento\FirstModule\Model\Normal</argument>
        </arguments>
    </type>

    <type name="SimplifiedMagento\FirstModule\Model\Student">
        <arguments>
            <argument name="name" xsi:type="string">Bob</argument>
            <argument name="age" xsi:type="number">35</argument>
            <argument name="scores" xsi:type="array">
                <item name="maths" xsi:type="number">100</item>
                <item name="programming" xsi:type="number">90</item>

            </argument>
        </arguments>
    </type>
</config>