<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

     <preference for="Magento\Catalog\Api\ProductRepositoryInterface" 
     type="SimplifiedMagento\FirstModule\Model\CustomImplementation" />

    <preference for="SimplifiedMagento\FirstModule\Api\PencilInterface"
                type="SimplifiedMagento\FirstModule\Model\Pencil"/>
    <preference for="SimplifiedMagento\FirstModule\Api\Color"
                type="SimplifiedMagento\FirstModule\Model\Red"/>
    <preference for="SimplifiedMagento\FirstModule\Api\Size"
                type="SimplifiedMagento\FirstModule\Model\Large"/>
    <type name="SimplifiedMagento\FirstModule\Model\Pencil">
        <arguments>
            <argument name="color" xsi:type="object">SimplifiedMagento\FirstModule\Model\Yellow</argument>
            <argument name="size" xsi:type="object">SimplifiedMagento\FirstModule\Model\Normal</argument>
        </arguments>
    </type>
    <type name="SimplifiedMagento\FirstModule\Model\Student">
        <arguments>
            <argument name="name" xsi:type="string">Bob</argument>
            <argument name="age" xsi:type="number">35</argument>
            <argument name="scores" xsi:type="array">
                <item name="maths" xsi:type="number">100</item>
                <item name="programming" xsi:type="number">90</item>

            </argument>
        </arguments>
    </type>
</config>